/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background:url(../images/bg.jpg) repeat;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	padding: 60px 0;
}

#logo {
	position:absolute;
	top:0;
	left:0;
	z-index:-5;	
}

#page {
	background-color:#fff;
	background-color:rgba(255,255,255,0.5);
	border:2px solid #ccc;
	border-radius:5px;
	padding-top: 10px;
	
	-webkit-box-shadow: 0px 0px 10px 5px rgba(65, 85, 118, .5);
	-moz-box-shadow: 0px 0px 10px 5px rgba(65, 85, 118, .5);
	box-shadow: 0px 0px 10px 5px rgba(65, 85, 118, .5);
}

#loginform {
	text-align:left;
	
	margin: 100px auto;
	width: 300px;
	padding: 20px;
	
	border:2px solid #ccc;
	border-radius:5px;
	
	-webkit-box-shadow: 0px 0px 10px 5px rgba(65, 85, 118, .5);
	-moz-box-shadow: 0px 0px 10px 5px rgba(65, 85, 118, .5);
	box-shadow: 0px 0px 10px 5px rgba(65, 85, 118, .5);
}

.frame {
	border: 1px solid #ccc;
	border-radius:5px;
	margin-bottom:15px;
	padding:15px;
}

.nav {
	background: #fff;
	padding-top: 0;
}

#materials {
	margin-bottom: 15px;
}

#page div.userlist {
	margin:0 0 0 10px;
	width:190px;
}


/******** Third Column Styles *******/
.miniprofile {
	float:left;
	padding-left:3px;
}

.miniprofile p {
	padding: 0;
	margin-bottom:2px;
	font-size:11px;
	line-height: normal
}

.userlist {
	font-size: 75%;
	line-height: normal;
}

/******* Display Table Styles *******/

table.display-table td {
	padding: 5px 20px 5px 10px;
}

table.display-table th {
	text-align: left;
}

table.display-table tr:nth-child(even) {
	background: #ccc;;
}

/************ Evaluation Section Styles *********/
input.description {
	width: 270px;
	float: left;
}

input.percent {
	width: 30px;
	margin-left:30px;
	float: left;
}

input#totalpercent {
	width:30px;
}

.desclabel {
	padding-right: 240px;
}

.rightjustify {
	width:100px;
	margin-left: 310px;
}


/********** Save Progress Bar **********/

#updatebar {
	width:150px;
	height:120px;
	padding:20px;
	position:fixed;
	z-index:100;
	bottom:0px;
	left:50%;
	margin-left:-472px;
	background: rgba(5,147,200,0.6);
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-left: 2px solid #ccc;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

#update {
	width: 150px;
}

.link-btn {
	width: 130px;
	color: #444;
	text-align: center;
}

.link-btn:hover {
	text-decoration: none;
}

/********* Message Column Styles *****************/

#messages h4 {
	line-height: normal;
}


/********* General Typography ****************/

.status-0, .Draft {
	font-weight: bold;
	font-size: 80%;
	color:blue;
}

.status-1, .Review {
	font-weight: bold;
	font-size: 80%;
	color:#cc7504;
}

.status-2, .Approved {
	font-weight: bold;
	font-size: 80%;
	color:#34a406;
}

.Draft, .Review, .Approved {
	font-size: 100%;
}

.nav ul li {
	margin-bottom: 5px;
}

/********* Navigation Styles *********/

.navigation h2 {
	color:#666;
	font-size:120%;
	margin-bottom:10px;
}

.navigation ul li a {
	display:block;
	font-size:100%;
	padding-bottom:5px;
}

.navigation ul {
	padding-bottom: 10px;
}

/****** Feedback Box Styles ********/
.feedback {
	position:absolute;
	text-align:left;
	font-size:75%;
	top:-50px;
	left:0px;
	width:300px;
	line-height: normal;
	padding:5px;
	border: 2px solid #666;
	border-radius:5px;
	background:rgba(50,50,50,0.2);
}

.error {
	color:#C00;
}

.success {
	color:#060;
}

.alignright {
	float:right;
}


/********* Basic Typography Styles ***********/

p {
	margin-bottom:1em;
}

h2 {
	font-size:150%;
	margin-bottom:.5em;
	font-weight:bold;
}

h3 {
	font-size:130%;
	font-weight:bold;
	margin-bottom:1em;
}

h4 {
	font-size:130%;
	font-weight:bold;
	margin-bottom:.5em;
}

strong {
	font-weight:bold;
}

a img {
	border:none;
}

a.button {
	color: #444;
}

a.button:hover {
	text-decoration: none;
}

th {
	font-weight:bold;
}

.middlecol ul {
	list-style-type:disc;
	margin: 0 0 20px 20px;
}
.middlecol li, 
.rightcol li {
	margin-bottom:.5em;
}

.fold {
	color:#0593c8;
	font-weight:bold;
	background:url(../images/sidearrow.png) left 5px no-repeat;
	padding-left:23px;
}

.fold:hover {
	color:#ed1c24;
	text-decoration:underline;
	cursor:pointer;
}

.example {
	color:#666666;
	font-size:95%;
	font-style:italic;
}

.alert {
	color:#FF0000;
}

/*********** Course Page Styles ************/
.courselist {
	font-size: 80%;
}

.courselist h4{
	max-width:160px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.courselist ul li {
	line-height: 1.2em;
}

.indentbtn {
	text-indent: -5000px;
	width:25px;
	height: 25px;
	background: url(../images/left-right-arrow.png) 25px 0px;
	display: block;
	float: left;
}
.exdentbtn {
	text-indent: -5000px;
	width:25px;
	height: 25px;
	background: url(../images/left-right-arrow.png) 0px 0px;
	display: block;
	float: left;
}

input.txtfield {
	float: left;
	clear: left;
}
input.txtfieldind {
	float: left;
	clear: left;
	width: 80%;
	margin-left: 50px;
}


/*********** User Page Styles *************/

/** user list **/

.users .rightcol .user p {
	margin-bottom:3px;
}

.user {
	margin-bottom:10px;
	overflow:hidden;
}

.user p {
	max-width:120px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.user div {
	padding-top:3px;
}

.thumb {
	float:left;
	padding:3px;
	border: 1px solid #ccc;
	border-radius:5px;
	margin-right:3px;
}

/** Manage users table **/
.usertable {
	width:100%;
}
.usertable td, .usertable th {
	padding: 5px 10px 5px 5px;
	text-align: left;
	font-size: 85%;
	
	max-width:150px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.usertable tr:hover {
	background:#d0e1f3;
}

.even {
	background:#EBEBEB;
	background:rgba(50,50,50,0.2);
}

.adminuseredit {
	padding:15px 15px 0 15px;
	margin-bottom:15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width:630px;
	overflow:hidden;
}

.formsection {
	float:left;
	width:210px;
	margin-bottom:10px;
}

/** New Account Form **/
div.formcontainer {
	width: 250px;
	text-align:right;
	float:left;
}

.formcontainer input, .formcontainer select {
	width: 170px;
}


/** user profile **/

.photo {
	float:left;
	padding:5px;
	border:1px solid #ccc;
	border-radius:5px;
	margin-right: 10px;
}

.profileinfo {
	width: 300px;
	float:left;
}

.profileinfo p, .profileinfo h3 {
	margin-bottom:.5em;
}

/*********** Admin Page Styles *************/

#adminnav {
	float:left;
	width:180px;
	background:#fff;
	margin-right:20px;
}

#admincontent {
	float:left;
	width:600px;
}

#addtermform {
	width:250px;
	float:left;
}

#termlist {
	width: 125px;
	float:left;
	margin-right:20px;
}

.policyfield {
	width:100%;
}

.fullwidth {
	width: 400px;
}

.fieldcontainer input {
	width: 300px;
}

.clonedSection {
	margin-bottom:20px;
}

.randomstyle {
	color:green;
}

/********** syllabus table display styles ********/

table.approvedsyllabi {
	width: 100%;
}

table.approvedsyllabi td {
	padding: 5px;
	font-size: 85%;
}

table.approvedsyllabi tr:nth-child(even) {
	background:#e2e2e2;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


