/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	color:#333;
	padding-bottom:100px;
}

#page {
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	padding: 0;
	overflow:hidden;
}

.whole {
	width:100%;
	overflow:hidden;
	clear:both;
	padding:0 20px;
}

.two-thirds {
	width:63.66%;
	margin-right:3%;
	float:left;
}

.one-third {
	width:33.33%;
	float:left;
}

.one-half {
	width:50%;
	float:left;
}

/****************** Header Styles *******************/

#mainheader {
	overflow:hidden;
	background:#f0f0f0;
	height:160px;
}

#mainheader div{
	float:left;
	background:#e1e296;
	padding:30px 20px;
}

#mainheader img {
	display:block;
	float:left;
	margin:20px;
}

#mainheader h1 {
	margin:0;
}

/********* Navigation Styles *********/

#mainnav {
	background:#403336;
	overflow:hidden;
	height:36px;
	margin-bottom:30px;
}

#mainnav ul li {
	float:left;
	margin-bottom:0;
	width:16.66%;
}

#mainnav ul li a {
	display:block;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	color:#d1dbc9;
	
	font-size:16px;
	line-height:36px;
	height:36px;
	
	padding:0 10px;
	border-right:solid 1px #9c8e91;
	text-decoration:none;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

#mainnav ul li a:hover {
	color:#e1e296;
}

#mainnav ul li a .ligsymbol {
	color:inherit;
	padding-right:10px;
}

#mainnav ul li.last {
	border-right:none;
}

#mainnav ul li ul {
	position:absolute;
	left:-9999px;
	margin:0;
}

#mainnav ul li ul li {
	float:none;
}

#mainnav ul li ul li a {
	border-right:none;
	font-size:16px;
	padding:0 10px;
	width:160px;
	border-bottom:1px solid #403336;
	background:#b8aa8c;
}

#mainnav ul li ul li a:hover {
	background:#d9be86;
	color:#faf9f4;
}

#mainnav ul li:hover ul {
	left:auto;
}

/***************** Login Form Styles *******************/
#loginform {
	text-align:left;
	background:#d1dbc9;
	margin: 50px auto 30px auto;
	width: 300px;
	padding: 20px;
	position: relative;
}

.small-logo {
	display:block;
	margin:auto;
	margin-top:20px;
}

#forgotpassworform {
	text-align: left;
	width: 340px;
	margin: 50px auto;
	position: relative;
}

#thefield {
	width: 100%;
}

#passwordchicken {
	position: absolute;
	left:220px;
	top: -28px;
}

.loginerror, .reset-fail {
	width:340px;
	margin: auto;
	color: red;
	text-align: center;
}

.reset-success {
	width:340px;
	margin: auto;
	color: green;
	text-align: center;
}

.frame {
	border-top: 2px solid #d9d9d9;
	border-bottom: 2px solid #d9d9d9;
	margin-bottom:15px;
	padding:15px;
	
	background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 10%, #ffffff 90%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(10%,#ffffff), color-stop(90%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f5f5 0%,#ffffff 10%,#ffffff 90%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f5f5 0%,#ffffff 10%,#ffffff 90%,#f5f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f5f5 0%,#ffffff 10%,#ffffff 90%,#f5f5f5 100%); /* IE10+ */
background: linear-gradient(to bottom, #f5f5f5 0%,#ffffff 10%,#ffffff 90%,#f5f5f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

/*.nav {
	background: #fff;
	padding-top: 0;
}*/

#materials {
	margin-bottom: 15px;
}

#page div.userlist {
	margin:0 0 0 10px;
	width:190px;
}

/*********** My Syllabi Page Styles ***********/

.syll-row {
	height:30px;
	line-height:30px;
	overflow:hidden;
	width:100%;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.syll-icons {
	float:left;
	width:70px;
	height:30px;
	line-height:30px;
	text-align:right;
	margin-right:15px;
}

.syll-link {
	float:left;
	display:block;
	height:30px;
	line-height:30px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.status-0 {
	border: 2px solid blue;
	border-radius:2px;
	width:20px;
	height:20px;
	line-height:16px;
	text-align:center;
	display:inline-block;
}

.status-1 {
	border: 2px solid #cc7504;
	border-radius:2px;
	width:20px;
	height:20px;
	line-height:16px;
	text-align:center;
	display:inline-block;
}

.status-2 {
	border: 2px solid #34a406;
	border-radius:2px;
	width:20px;
	height:20px;
	line-height:16px;
	text-align:center;
	display:inline-block;
}

.status-0, .Draft {
	font-weight: bold;
	font-size: 80%;
	color:blue;
}

.status-1, .Review {
	font-weight: bold;
	font-size: 80%;
	color:#cc7504;
}

.status-2, .Approved {
	font-weight: bold;
	font-size: 80%;
	color:#34a406;
}

.front-icon{
	width:16px;
	height:16px;
	line-height:16px;
	display:inline-block;
	margin-right: 5px;
	position:relative;
	top:5px;
}

.status-0:hover, .status-1:hover, .status-2:hover {
	cursor:pointer;
}

/*********** Syllabus Edit Styles ************/

#sectcontrols {
	overflow:hidden;
}

#sectcontrols select {
	width: 120px;
	float:left;
	margin-right:15px;
}

.activitycontent {
	margin-bottom:40px;
}


/******** Third Column Styles *******/
.miniprofile {
	float:left;
	padding-left:3px;
}

.miniprofile p {
	padding: 0;
	margin-bottom:2px;
	font-size:11px;
	line-height: normal
}

.userlist {
	font-size: 75%;
	line-height: normal;
}

/******* Display Table Styles *******/

table.display-table td {
	padding: 5px 20px 5px 10px;
}

table.display-table th {
	text-align: left;
}

table.display-table tr:nth-child(even) {
	background: #ccc;;
}

/************ Evaluation Section Styles *********/
input.description {
	width: 80%;
	float: left;
}

input.percent {
	width: 7%;
	margin-left:2%;
	float: left;
}

input#totalpercent {
	width:40px;
}

.evallabels {
	overflow:hidden;
}

.desclabel {
	width:82%;
	display:block;
	float:left;
}

.percentlabel {
	width:15%;
	display:block;
	float:left;
}

.rightjustify {
	width:100px;
	float:left;
}

.percent-symbol {
	float:left;
	line-height:30px;
	display:block;
	height:30px;
	padding:0 3px;
}

.hide {
	overflow:hidden;
}


/********** Save Progress Bar **********/

#updatebar {
	width:960px;
	height:60px;
	padding:15px;
	position:fixed;
	z-index:100;
	bottom:0px;
	background: rgba(132,161,118,0.6);
	text-align:center;
}

#update {
	width: 150px;
}

.link-btn {
	width: 200px;
	color: #444;
	text-align: center;
	margin:0 20px;
}

.link-btn:hover {
	text-decoration: none;
}

/********* Message Column Styles *****************/

#messages h4 {
	line-height: normal;
}


/********* General Typography ****************/



.small-link {
	font-size: 80%;
}

.Draft, .Review, .Approved {
	font-size: 100%;
}

.nav ul li {
	margin-bottom: 5px;
}



/****** Feedback Box Styles ********/
.feedback {
	position:absolute;
	text-align:left;
	font-size:75%;
	top:-50px;
	left:0px;
	width:300px;
	line-height: normal;
	padding:5px;
	border: 2px solid #666;
	border-radius:5px;
	background:rgba(50,50,50,0.2);
}

.error {
	color:#C00;
}

.success {
	color:#060;
}

.alignright {
	float:right;
}


/********* Basic Typography Styles ***********/

h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	text-transform:uppercase;
}

p {
	margin-bottom:1em;
	line-height:1.4em;
}

h2 {
	font-size:150%;
	margin-bottom:.5em;
	/*font-weight:bold;*/
}

h3 {
	font-size:130%;
	/*font-weight:bold;*/
	margin-bottom:1em;
}

h4 {
	font-size:130%;
	/*font-weight:bold;*/
	margin-bottom:.5em;
}

strong {
	font-weight:bold;
}

a {
	text-decoration:none;
	font-weight:600;
	color:#40449c;
}

a:hover, a:focus { 
	color: #c72026; 
	text-decoration: underline; 
}

a img {
	border:none;
}

a.button {
	color: #444;
}

a.button:hover {
	text-decoration: none;
}

th {
	font-weight:bold;
}

.middlecol ul {
	list-style-type:disc;
	margin: 0 0 20px 20px;
}
.middlecol li, 
.rightcol li {
	margin-bottom:.5em;
}

.fold {
	color:#40449c;
	background:url(../images/sidearrow.png) left 5px no-repeat;
	padding-left:23px;
}

.fold:hover {
	color:#c72026;
	cursor:pointer;
}

.example {
	color:#666666;
	font-size:95%;
	font-style:italic;
}

.alert {
	color:#FF0000;
}

/*********** Course Page Styles ************/
.courselist {
	font-size: 80%;
}

.courselist h4{
	max-width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.courselist ul li {
	line-height: 1.2em;
}

.indentbtn {
	text-indent: -5000px;
	width:25px;
	height: 25px;
	background: url(../images/left-right-arrow.png) 25px 0px;
	display: block;
	float: left;
}
.exdentbtn {
	text-indent: -5000px;
	width:25px;
	height: 25px;
	background: url(../images/left-right-arrow.png) 0px 0px;
	display: block;
	float: left;
}

input.txtfield {
	float: left;
	clear: left;
}
input.txtfieldind {
	float: left;
	clear: left;
	width: 80%;
	margin-left: 50px;
}

#radiobuttonset label, #radiobuttonset input {
	display:inline;
}

label { clear: both; }


/*********** User Page Styles *************/

/** user list **/

.users .rightcol .user p {
	margin-bottom:3px;
}

.user {
	margin-bottom:10px;
	overflow:hidden;
	float:left;
	width:25%;
	padding-right:15px;
}

.user p {
	font-size:90%;
	line-height:normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.thumb {
	float:left;
	border: 5px solid #40449c;
	margin-right:3px;
}

/** Manage users table **/
.usertable {
	width:100%;
}
.usertable td, .usertable th {
	padding: 5px 10px 5px 5px;
	text-align: left;
	font-size: 85%;
	
	max-width:100px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

.usertable tr:hover {
	background:#d0e1f3;
}

.even {
	background:#EBEBEB;
	background:rgba(50,50,50,0.2);
}

.adminuseredit {
	padding:15px 15px 0 15px;
	margin-bottom:15px;
	border: 1px solid #ccc;
	overflow:hidden;
}

.formsection {
	float:left;
	width:33%;
	margin-bottom:10px;
}

/** New Account Form **/
div.formcontainer {
	width: 250px;
	text-align:right;
	float:left;
}

.formcontainer input, .formcontainer select {
	width: 170px;
}


/** user profile **/

.user-profile {
	width:100%;
	overflow:hidden;
	margin-bottom:30px;
}

.photo {
	float:left;
	border:5px solid #40449c;
	margin-right: 10px;
}

.profileinfo {
	width: 300px;
	float:left;
}

.profileinfo p, .profileinfo h3 {
	margin-bottom:.5em;
}

/*********** Admin Page Styles *************/

#adminnav {
	float:left;
	width:180px;
	background:#fff;
	margin-right:20px;
}

#admincontent {
	float:left;
	width:600px;
}

#addtermform {
	width:250px;
	float:left;
}

#termlist {
	width: 125px;
	float:left;
	margin-right:20px;
}

.policyfield {
	width:100%;
}

.fullwidth {
	width: 400px;
}

.fieldcontainer input {
	width: 300px;
}

.clonedSection {
	margin-bottom:20px;
}

.randomstyle {
	color:green;
}

/********** syllabus table display styles ********/

table.approvedsyllabi {
	width: 100%;
}

table.approvedsyllabi td {
	padding: 5px;
	font-size: 85%;
}

table.approvedsyllabi tr:nth-child(even) {
	background:#e2e2e2;
}

.find-results tr td {
	padding-right: 15px;
}

.inactive {
	cursor:pointer;
	opacity:0.5;
}

.inactive:hover {
	color:#666;
}

/*************** Executive Summary Page Styles ****************/

.tinymice-container {margin-bottom:40px; }

/**************** Ligature Symbol Font Styles ****************/

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../ligature-symbols/LigatureSymbols-2.09.eot');
    src: url('../ligature-symbols/LigatureSymbols-2.09.eot?#iefix') format('embedded-opentype'),
         url('../ligature-symbols/LigatureSymbols-2.09.woff') format('woff'),
         url('../ligature-symbols/LigatureSymbols-2.09.ttf') format('truetype'),
         url('../ligature-symbols/LigatureSymbols-2.09.svg#LigatureSymbols') format('svg');
    src: url('../ligature-symbols/LigatureSymbols-2.09.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ligsymbol {
  font-family: 'LigatureSymbols';
  font-weight: normal;
  font-size: 24px;
  color:#666;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/*.ligsymbol:visited {
	color: #666;
}*/

.ligsymbol:hover {
	color: #ed1c24;
	text-decoration: none;
}


/*************** Find Page Styles ****************/

#course, #instructor {
	width:100%;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
	#page { width: 100%; }
	
	#mainheader img { max-width:60%; }
	
	#mainnav ul li a {
		font-size:16px;
		padding:0 15px;
	}
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
	.user { width:33%; }
	#updatebar { width:100%; }
	
	}
	
	@media only screen and (max-width: 725px) {
		
	#mainheader { height:140px; }
	#mainheader h1 { font-size: 35px; line-height: 40px; }
	#mainnav ul li a .nav-label {display:none;}
	#mainnav ul li a .ligsymbol { padding: 0 10px; }
	#mainnav ul li.last:hover ul {right:0px;}
	#mainnav ul li.tools:hover ul {left:66.64%;}
	
	}
	
	@media only screen and (max-width: 600px) {
		
		.one-half, .two-thirds, .one-third { float:none; margin:0; width:100%;}
		.one-third { padding: 0 20px; }
		#mainheader { height:110px; }
		#mainheader div{padding:20px;}
		#mainheader h1 { font-size: 30px; line-height: 35px; }
		.user { width:50%; }
		
	}
	
	@media only screen and (max-width: 512px) {
		.link-btn { width: 150px; margin:0 10px; }
		#mainnav ul li a .ligsymbol { padding: 0; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		.user { width:100%; }
		#mainnav ul li.tools:hover ul {right:0; left:auto;}
	}


